@import '~node_modules/modern-normalize/modern-normalize.css';
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:root {
  --primaryTextColor: #222222;
  --secondaryTextColor: #f8f3ef;
  --accentColor: #d8a47a;
  --secondaryAccentColor: #c38f65;
  --titleAccentColor: #aca095;
  --footerTextColor: #99999d;
  --fieldTextColor: #bcbcbc;
  --hoverBtnTextColor: #ffffff;
  --katalogMenuLink: #ffffff;
  --hoverTextColor: #c19d7a;
  --policyTextDesctopColor: #8f8f8f;
  --policyTextMobColor: #e6e6e6;
  --policyTextModalColor: #636363;
  --calculateMainTextColor: #000000;
  --headerContactsCity: #c0c0c0;
  --borderListCategories: #ebebeb;
  --borderAccentColor: #e2ae80;
  --borderEcology: 1px solid #399143;
  --borderSlideColor: #e1dbd5;
  --bcgPopupMenu: #c19d7a;
  --bcgColor: #f8f3ef;
  --katalogMenuItem: #f7f3ef;
  --secondaryBcgColor: #34353d;
  --bcgHpTransparentBtn: rgba(36, 36, 36, 0.46);
  --boxShadowMap: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  --youTubeTextBtnColor: #fff2f2;
  --youTubeAccentBtnColor: #cc1616;
  --youTubeInsideCircleColor: rgba(255, 255, 255, 0.8);
  --youTubeOutsideCircleColor: rgba(255, 255, 255, 0.4);
  --vkAccentBtnColor: #144da3;
  --watsapBcgColor: #25d366;
  --vkBcgColor: #2f6ac2;
  --youTubeBcgColor: #eb2626;
  --heroGrad: linear-gradient(
    100deg,
    rgba(37, 37, 44, 0.3) 1.74%,
    rgba(37, 37, 44, 0.17) 56.92%,
    rgba(37, 37, 44, 0.21) 97.51%
  );
  --hpCategoriesGrad: linear-gradient(
    342deg,
    rgba(34, 34, 34, 0.92) 3.68%,
    rgba(34, 34, 34, 0) 71.78%
  );
  --hpOurProjGrad: linear-gradient(
    193deg,
    rgba(34, 34, 34, 0) 41.54%,
    rgba(34, 34, 34, 0.83) 96.33%
  );
  --feedbackGrad: linear-gradient(
    98deg,
    rgba(37, 37, 44, 0.47) 4.13%,
    rgba(37, 37, 44, 0.8) 39.91%,
    rgba(37, 37, 44, 0.63) 99.59%
  );
  --btnGradNorm: linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%);
  --btnGradHover: linear-gradient(90deg, #f1c49c 0.1%, #d2a27e 99.91%);
  --secondaryBtnGrad: linear-gradient(
    97deg,
    rgba(255, 255, 255, 0) 32.32%,
    rgba(255, 255, 255, 0.05) 70.17%,
    rgba(255, 255, 255, 0.39) 78.67%,
    rgba(255, 255, 255, 0.2) 85.86%,
    rgba(255, 255, 255, 0) 97.79%
  );
  --ourWorksListGrad: linear-gradient(
    193deg,
    rgba(34, 34, 34, 0.15) 41.54%,
    rgba(34, 34, 34, 0.92) 96.33%
  );
  --blogListGrad: linear-gradient(
    213deg,
    rgba(34, 34, 34, 0.15) 19.52%,
    rgba(34, 34, 34, 0.92) 92.18%
  );
  --timingFunction: 1s cubic-bezier(0.08, 0.49, 0.93, 0.64);
  --timingFunction2: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Acrom", sans-serif;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

.headerBtnMenu {
  position: relative;
  margin-bottom: 6px;
  border-color: transparent;
  width: 35px;
  height: 16px;
}
@media screen and (min-width: 1440px) {
  .headerBtnMenu {
    display: none;
  }
}

.consultationBtn {
  display: none;
}
@media screen and (min-width: 1440px) {
  .consultationBtn {
    display: block;
    padding: 12px 55px 14px 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 5px;
    background-image: var(--btnGradNorm);
    color: var(--secondaryTextColor);
    border-color: transparent;
  }
}

.consultationBtn:hover {
  background-image: var(--btnGradHover);
}

.containerHeader {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  outline: 1px solid crimson;
}
@media screen and (min-width: 390px) {
  .containerHeader {
    width: 378px;
  }
}
@media screen and (min-width: 1440px) {
  .containerHeader {
    width: 1373px;
  }
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  outline: 1px solid crimson;
}
@media screen and (min-width: 390px) {
  .container {
    width: 370px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1220px;
  }
}

.header {
  position: relative;
}

.container__header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 28px;
  padding-bottom: 19px;
}
@media screen and (min-width: 1440px) {
  .container__header {
    padding: 0 10px;
    width: 1373px;
  }
}

.logo {
  position: absolute;
  top: -1px;
  left: 12px;
  display: block;
  width: 93px;
  height: 93px;
}
@media screen and (min-width: 1440px) {
  .logo {
    top: 7px;
    left: 0;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .navigation__list {
    display: flex;
    gap: 44px;
  }
}

.navigation--katalog {
  position: relative;
}

.navigation--katalog:hover .navigation__katalogList {
  display: block;
}

.navigation__link {
  display: block;
  padding-top: 45px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primaryTextColor);
}

.navigation__svg {
  margin-left: 4px;
  width: 6px;
  height: 3px;
}

.navigation__katalogList {
  position: absolute;
  top: 80px;
  left: 0;
  padding-top: 27px;
  padding-bottom: 22px;
  background-color: var(--bcgPopupMenu);
  border-radius: 0 20px 20px 20px;
  min-width: 304px;
  display: none;
}

.navigation__katalogItem {
  display: flex;
  align-items: center;
  padding-left: 18px;
  min-height: 29px;
}

.navigation__katalogItem:hover,
.navigation__katalogItem:hover .navigation__katalogLink {
  transition: color var(--timingFunction2), background-color var(--timingFunction2);
}

.navigation__katalogItem:hover {
  background-color: var(--katalogMenuItem);
}

.navigation__katalogLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--katalogMenuLink);
}

.navigation__katalogLink:hover,
.navigation__katalogItem:hover .navigation__katalogLink {
  color: var(--primaryTextColor);
}

.headerWrapContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .headerWrapContacts {
    align-items: flex-start;
    margin-top: 37px;
    margin-bottom: 31px;
    margin-left: 96px;
  }
}

.headerContacts__phone {
  display: block;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primaryTextColor);
}

.headerContacts__city {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  color: var(--headerContactsCity);
}

.headerWrapBtn {
  margin-left: 33px;
}

.headerBtnSvg {
  position: absolute;
  top: 0;
  left: 0;
}

.headerBtn__textMenu {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
@media screen and (min-width: 1440px) {
  .headerBtn__textMenu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .consultationBtn__wrap {
    margin-top: 31px;
    margin-left: 39px;
  }
}

.mobMenu {
  position: absolute;
  top: 86.9px;
  left: 0;
  padding: 38px 20px;
  width: 370px;
  height: 100vh;
  background-color: var(--bcgColor);
  overflow: scroll;
}
@media screen and (min-width: 1440px) {
  .mobMenu {
    display: none;
  }
}

.mobMenu__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 33px;
}

.mobMenu--katalog:hover .mobMenu__wrapKatalogList {
  display: block;
}

.mobMenu__link {
  font-size: 16px;
  font-weight: 700;
  color: var(--primaryTextColor);
}

.katalog {
  display: flex;
  align-items: center;
}

.mobMenu__wrapKatalogList {
  display: none;
}

.mobMenu__katalogList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 17px;
  margin-bottom: 26px;
  margin-left: 34px;
}

.mobMenu__katalogLink {
  font-size: 14px;
  font-weight: 500;
  color: var(--primaryTextColor);
}

.mobMenu__svg {
  margin-left: 10px;
}

.mobMenu__contactList {
  display: flex;
  gap: 18px;
}

.mobMenu__contactLink {
  display: block;
  height: 23px;
}

.svgYoutube {
  fill: transparent;
  stroke: black;
}

.footer {
  padding: 71px 0 128px;
  background-image: linear-gradient(rgba(37, 37, 44, 0.47), rgba(37, 37, 44, 0.8), rgba(37, 37, 44, 0.63)), url(../images/mobile/footer/footer-mob-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__formTitle {
  color: var(--secondaryTextColor);
  text-transform: uppercase;
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
  line-height: 1.1;
}

.footer__formTitle2 {
  margin-bottom: 24px;
  text-align: end;
  color: var(--titleAccentColor);
  text-transform: uppercase;
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
  line-height: 1.1;
}

.footer__form {
  margin-bottom: 65px;
}

.footer__formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  width: 250px;
}

.footer__formField + .footer__formField {
  margin-bottom: 0;
}

.footer__formField input::-moz-placeholder {
  color: var(--fieldTextColor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.footer__formField input::placeholder {
  color: var(--fieldTextColor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.footer__formLabel {
  margin-bottom: 5px;
  color: var(--secondaryTextColor);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}

.footer__wrapInput {
  position: relative;
}

.footer__formInput {
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 17px;
  border-radius: 5px;
  border: none;
}

.footer--formInputTel {
  width: 100%;
  padding-left: 57px;
}

.footer__svgflag {
  position: absolute;
  top: 26px;
  left: 17px;
}

.footer__svgCheckMark {
  position: absolute;
  top: 30px;
  left: 39px;
}

.footer__btn {
  margin-top: 23px;
  margin-bottom: 15px;
}

.footer__text {
  margin-bottom: 21px;
}/*# sourceMappingURL=index.css.map */