@import '~node_modules/modern-normalize/modern-normalize.css';
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:root {
  --primaryTextColor: #222222;
  --secondaryTextColor: #F8F3EF;
  --accentColor: #D8A47A;
  --secondaryAccentColor: #C38F65;
  --titleAccentColor: #ACA095;
  --footerTextColor: #99999D;
  --fieldTextColor: #BCBCBC;
  --hoverBtnTextColor: #ffffff;
  --hoverTextColor: #C19D7A;
  --policyTextDesctopColor: #8F8F8F;
  --policyTextMobColor: #E6E6E6;
  --policyTextModalColor: #636363;
  --calculateMainTextColor: #000000;
  --borderListCategories: #EBEBEB;
  --borderAccentColor: #E2AE80;
  --borderEcology: 1px solid #399143;
  --borderSlideColor: #E1DBD5;
  --bcgPopupMenu: #C19D7A;
  --bcgColor: #F8F3EF;
  --secondaryBcgColor: #34353D;
  --bcgHpTransparentBtn: rgba(36, 36, 36, 0.46);
  --boxShadowMap: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  --youTubeTextBtnColor: #FFF2F2;
  --youTubeAccentBtnColor: #CC1616;
  --youTubeInsideCircleColor: rgba(255, 255, 255, 0.80);
  --youTubeOutsideCircleColor: rgba(255, 255, 255, 0.40);
  --vkAccentBtnColor: #144DA3;
  --watsapBcgColor: #25D366;
  --vkBcgColor: #2F6AC2;
  --youTubeBcgColor: #EB2626;
  --heroGrad: linear-gradient(100deg, rgba(37, 37, 44, 0.30) 1.74%, rgba(37, 37, 44, 0.17) 56.92%, rgba(37, 37, 44, 0.21) 97.51%);
  --hpCategoriesGrad: linear-gradient(342deg, rgba(34, 34, 34, 0.92) 3.68%, rgba(34, 34, 34, 0.00) 71.78%);
  --hpOurProjGrad: linear-gradient(193deg, rgba(34, 34, 34, 0.00) 41.54%, rgba(34, 34, 34, 0.83) 96.33%);
  --feedbackGrad: linear-gradient(98deg, rgba(37, 37, 44, 0.47) 4.13%, rgba(37, 37, 44, 0.80) 39.91%, rgba(37, 37, 44, 0.63) 99.59%);
  --btnGradNorm: linear-gradient(90deg, #E2AE80 0.1%, #CC9872 99.91%);
  --btnGradHover: linear-gradient(90deg, #F1C49C 0.1%, #D2A27E 99.91%);
  --secondaryBtnGrad: linear-gradient(97deg, rgba(255, 255, 255, 0.00) 32.32%, rgba(255, 255, 255, 0.05) 70.17%, rgba(255, 255, 255, 0.39) 78.67%, rgba(255, 255, 255, 0.20) 85.86%, rgba(255, 255, 255, 0.00) 97.79%);
  --ourWorksListGrad: linear-gradient(193deg, rgba(34, 34, 34, 0.15) 41.54%, rgba(34, 34, 34, 0.92) 96.33%);
  --blogListGrad: linear-gradient(213deg, rgba(34, 34, 34, 0.15) 19.52%, rgba(34, 34, 34, 0.92) 92.18%);
  --timingFunction: 1s cubic-bezier(.08,.49,.93,.64);
}

body {
  font-family: "Acrom", sans-serif;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

.headerBtn {
  position: relative;
  margin-bottom: 6px;
  border-color: transparent;
  width: 35px;
  height: 16px;
}
@media screen and (min-width: 1440px) {
  .headerBtn {
    display: none;
  }
}

.consultationBtn {
  display: none;
}
@media screen and (min-width: 1440px) {
  .consultationBtn {
    display: block;
    padding: 12px 55px 14px 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 5px;
  }
}

.button {
  border-radius: 5px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 105px;
  color: var(--secondaryTextColor);
  background: var(--btnGradNorm);
}
.button:hover {
  color: var(--hoverBtnTextColor);
  background: var(--btnGradHover);
}

.transparentBtn {
  min-height: 35px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  border: 1px solid var(--borderAccentColor);
  background: transparent;
}

.socBtn {
  display: inline-flex;
  height: 64px;
  min-width: 217px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--youTubeTextBtnColor);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.socBtn__icon {
  fill: var(--hoverBtnTextColor);
  margin-right: 11px;
}

.circleBtn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 50%);
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  outline: 1px solid crimson;
}
@media screen and (min-width: 390px) {
  .container {
    width: 370px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1220px;
  }
}

.header {
  position: relative;
}

.container__header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 28px;
  padding-bottom: 19px;
}
@media screen and (min-width: 1440px) {
  .container__header {
    padding: 0 10px;
    width: 1373px;
  }
}

.logo {
  position: absolute;
  top: -1px;
  left: 12px;
  display: block;
  width: 93px;
  height: 93px;
}
@media screen and (min-width: 1440px) {
  .logo {
    top: 7px;
    left: 0;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .navigation__list {
    display: flex;
    gap: 44px;
  }
}

.navigation--katalog {
  position: relative;
}

.navigation--katalog:hover .navigation__katalogList {
  display: block;
}

.navigation__link {
  display: block;
  padding-top: 45px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.navigation__svg {
  margin-left: 4px;
  width: 6px;
  height: 3px;
}

.navigation__katalogList {
  position: absolute;
  top: 80px;
  left: 0;
  padding-top: 27px;
  padding-bottom: 22px;
  background-color: #c19d7a;
  border-radius: 0 20px 20px 20px;
  min-width: 304px;
  display: none;
}

.navigation__katalogItem {
  display: flex;
  align-items: center;
  padding-left: 18px;
  min-height: 29px;
}

.navigation__katalogItem:hover {
  background-color: #f7f3ef;
}

.navigation__katalogLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}

.navigation__katalogLink:hover,
.navigation__katalogItem:hover .navigation__katalogLink {
  color: #222222;
}

.headerWrapContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .headerWrapContacts {
    align-items: flex-start;
    margin-top: 37px;
    margin-bottom: 31px;
    margin-left: 96px;
  }
}

.headerContacts__phone {
  display: block;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #222222;
}

.headerContacts__city {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  color: #c0c0c0;
}

.headerWrapBtn {
  margin-left: 33px;
}

.headerBtnSvg {
  position: absolute;
  top: 0;
  left: 0;
}

.headerBtn__textMenu {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
@media screen and (min-width: 1440px) {
  .headerBtn__textMenu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .consultationBtn__wrap {
    margin-top: 31px;
    margin-left: 39px;
  }
}

.mobMenu {
  position: fixed;
  top: 86.9px;
  left: 0;
  padding: 38px 20px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.mobMenu__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 33px;
}

.mobMenu--katalog:hover .mobMenu__wrapKatalogList {
  display: block;
}

.mobMenu__link {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
}

.katalog {
  display: flex;
  align-items: center;
}

.mobMenu__wrapKatalogList {
  display: none;
}

.mobMenu__katalogList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 17px;
  margin-bottom: 26px;
  margin-left: 34px;
}

.mobMenu__katalogLink {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}

.mobMenu__svg {
  margin-left: 10px;
}

.mobMenu__contactList {
  display: flex;
  gap: 18px;
}

.mobMenu__contactLink {
  display: block;
  height: 23px;
}

.svgYoutube {
  fill: transparent;
  stroke: black;
}/*# sourceMappingURL=index.css.map */