<section class="footer">
  <div class="container">
    <p class="footer__formTitle">Хотите так же?</p>
    <p class="footer__formTitle2">Оставьте заявку!</p>
    <form class="footer__form">
      <div class="footer__formField">
        <label for="name" class="footer__formLabel">Ваше имя</label>
        <input
          type="text"
          class="footer__formInput"
          name="name"
          id="name"
          placeholder="Анастасия"
        />
      </div>
      <div class="footer__formField">
        <label for="tel" class="footer__formLabel">Ваш телефон</label>
        <div class="footer__wrapInput">
          <input
            type="tel"
            class="footer__formInput footer--formInputTel"
            name="tel"
            id="tel"
            placeholder="+3 (380) 999 99-99"
          />
          <svg class="footer__svgflag" width="18" height="12">
            <use href="./images/sprite.svg#icon-triangle-menu"></use>
          </svg>
          <svg class="footer__svgCheckMark" width="8" height="5">
            <use href="./images/sprite.svg#icon-arrow-pop-up"></use>
          </svg>
        </div>
      </div>
      <button type="submite" class="footer__btn">Оставить заявку</button>
      <p>
        Нажимая на кнопку “Оставить заявку”, вы соглашаетесь c Политикой
        конфиденциальности данных
      </p>
    </form>

    <p class="footer__text">Оставьте заявку или позвоните нам по номеру:</p>
    <a href="">+7 (929) 590 82-87</a>

    <div>
      <a href=""></a>
      <p>© 2023. Все права защищены</p>
      <a href="">Политика конфиденциальности</a>
      <a href="">Публичная оферта</a>
    </div>
  </div>
</section>
