<div class="container__header container">
  <nav class="navigation">
    <a href="" class="logo">
      <svg class="" width="10" height="16">
        <use href="./images/sprite.svg#icon-menu-burger"></use>
      </svg>
    </a>
    <ul class="navigation__list">
      <li class="navigation__item navigation--katalog">
        <a href="" class="navigation__katalog">Каталог</a>
        <ul class="navigation__katalogList">
          <li class="navigation__katalogItem">
            <a href="">Амбарная доска для стен</a>
          </li>
          <li class="navigation__katalogItem">
            <a href="">Старая половая доска</a>
          </li>
          <li class="navigation__katalogItem">
            <a href="">Старые балки и фальшбалки</a>
          </li>
          <li class="navigation__katalogItem">
            <a href="">Стеновые панели</a>
          </li>
          <li class="navigation__katalogItem"><a href="">Двери</a></li>
          <li class="navigation__katalogItem">
            <a href="">Мебель из старых лодок</a>
          </li>
          <li class="navigation__katalogItem"><a href="">Зеркала</a></li>
          <li class="navigation__katalogItem">
            <a href="">Ковры (винтажные)</a>
          </li>
          <li class="navigation__katalogItem">
            <a href="">Старинный кирпич (императорский)</a>
          </li>
          <li class="navigation__katalogItem"><a href="">Услуги</a></li>
        </ul>
      </li>

      <li class="navigation__item">
        <a href="" class="navigation__link">Об амбарной доске</a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">Наши работы</a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">О нас</a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">Блог</a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">Контакты</a>
      </li>
    </ul>
    <ul class="navigation__contactList">
      <li class="navigation__contactItem">
        <a href="" class="navigation__contactLink"></a>
      </li>
      <li class="navigation__contactItem">
        <a href="" class="navigation__contactLink"></a>
      </li>
      <li class="navigation__contactItem">
        <a href="" class="navigation__contactLink"></a>
      </li>
    </ul>
  </nav>
  <div class="headerWrapContacts">
    <a href="" class="headerContacts__phone">+3 (380) 000 00-00</a>
    <p class="headerContacts__city">Киев и Ивано-Франковск</p>
  </div>
  <div class="headerWrapBtn">
    <button type="button" class="headerBtn">
      <svg class="headerBtnSvg" width="35" height="16">
        <use href="./images/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
    <p class="headerBtn__textMenu">МЕНЮ</p>
  </div>
</div>
