.headerBtn {
  position: relative;
  margin-bottom: 6px;

  border-color: transparent;
  width: 35px;
  height: 16px;

  @include desktop {
    display: none;
  }
}

.consultationBtn {
  display: none;

  @include desktop {
    display: block;
    padding: 12px 55px 14px 53px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;

    border-radius: 5px;
  }
}

.button {
  border-radius: 5px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 105px;
  color: var(--secondaryTextColor);
  background: var(--btnGradNorm);

  &:hover {
    color: var(--hoverBtnTextColor);
    background: var(--btnGradHover);
  }
}

.transparentBtn {
  min-height: 35px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  border: 1px solid var(--borderAccentColor);
  background: transparent;
}

.socBtn {
  display: inline-flex;
  height: 64px;
  min-width: 217px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  color: var(--youTubeTextBtnColor);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.socBtn__icon {
  fill: var(--hoverBtnTextColor);
  margin-right: 11px;
}

.circleBtn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.80) 50%, rgba(255, 255, 255, 0.40) 50%);
}