.container {
  width: 100%;
  padding-left: 12px;
  padding-right: 21px;
  margin: 0 auto;
  outline: 1px solid crimson;

  @include mobile {
    width: 390px;
  }

  @include desktop {
    padding: 0 20px;
    width: 1393px;
  }
}
